* {
    transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
}
body {
    background-color: rgb(200, 255, 255) !important;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

a {
    color: black !important;
    text-decoration: none !important;
}

#floatIn {
    width: 60vw;
    height: fit-content;
    background-color: aliceblue;
    opacity: 0;
    transition: transform 1s ease-in-out;
    position: relative;
    margin-inline: auto;
    margin-bottom: 50px;
    margin: 50px auto;
}

@media (min-width: 992px) {
    #floatIn {
        width: 50vw;
    }
}

@media (max-width: 244px) {
    #floatIn {
        width: 90vw;
    }
}

#floatIn.visible {
    opacity: 1;
    transform: translateY(25px);
}

.pfp-clip {
    aspect-ratio: 1;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 5px gainsboro;
    &:hover {transform: translateY(-5px);
    box-shadow: 0 10px 5px gainsboro;}
}

#pfp {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(3) translate(-5%, 5%);
}

.icon {
    width: 2rem;
    height: 2rem;
}


.list-group-item {
    border: none;
}

.hover-shadow {
    text-align: center;
    box-shadow: 0 5px 5px gainsboro;
    border-radius: 5px !important;
}

.hover-shadow:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 5px gainsboro;
}

.no-cursor:hover {
    cursor: default;
}

#backBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#backBtn:hover {
    cursor: pointer;
}
