body {
    background-color: rgb(208, 255, 200) !important;
    overflow: hidden;
}

body > img {
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 10%;
    filter: grayscale(100%);
}

a {
    color: black !important;
    text-decoration: none !important;
}

#floatIn {
    width: 70vw;
    height: 70vh;
    background-color: aliceblue;
    opacity: 0;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

@media (min-width: 768px) {
    #floatIn {
        height: 60vh;
        width: 50vw;
    }
}

@media (max-width: 244px) {
    #floatIn {
        width: 90vw;
    }
}

#floatIn.visible {
    opacity: 1;
    top: 50%;
}

.pfp-clip {
    aspect-ratio: 1;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
}

#pfp {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.icon {
    width: 2rem;
    height: 2rem;
}


.list-group-item {
    border: none;
}

.hover-shadow {
    text-align: center;
    box-shadow: 0 5px 5px gainsboro;
    transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
    border-radius: 5px !important;
}

.hover-shadow:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 5px gainsboro;
}

.no-cursor:hover {
    cursor: default;
}
